{% extends "template.html" %}
{% block contenido %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<div class="container">
    <div class="col-md-3 mx-auto">
        {% block title %}¿Estás seguro que querés eliminar el libro {{libro.titulo}}?{% endblock %}
        <br>
        <br>
        <div class="botones">
            <div style="display: flex;">
                <form action="#" method='post'><button style="margin: 10px" type="submit" class="btn btn-success">Eliminar</button></form>
                <a href='{{ url_for("mostrarLibros") }}'><button style="margin: 10px" type="button" class="btn btn-warning">Cancelar</button></a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}